* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: lightsteelblue;
  font-family: sans-serif;
}

.header-navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: lightskyblue;
  box-shadow: 1px 6px 13px black;
  padding: 10px;
  font-size: 20px;
  z-index: 10;
}

.question-card {
  display: flex;
  position: relative;
  height: 500px;
  flex-direction: column;
  margin: 150px 70px 70px 70px;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 6px 13px black;
  font-size: 20px;
  border-radius: 10px;
}

.bookmark-icon {
  position: absolute;
  top: -25px;
  right: 10px;
  width: 70px;
}

h2 {
  font-size: 30px;
  padding: 40px;
}

.answer {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  background-color: lightskyblue;
  font-weight: bold;
  border-radius: 10px;
}

button {
  border: 1px solid black;
}

.answer:hover {
  background-color: grey;
  color: black;
}
.tag-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-family: monospace;
}

.category-tag {
  border: 1px solid black;
  border-radius: 20%;
  padding: 5px;
  background-color: lightgray;
}

.second-tag {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-navbar {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: lightskyblue;
  border-top: 1px solid black;
  padding: 10px;
}

.icon {
  width: 40px;
}

.icon:hover {
  background-color: grey;
  color: black;
}

.highlight {
  background-color: lightskyblue;
}
