.card {
  display: flex;
  position: relative;
  height: 480px;
  flex-direction: column;
  margin: 100px 45px 70px 45px;
  padding: 10px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  min-width: 200px;
  max-width: 600px;
}

.card__text {
  font-size: 20px;
  padding: 30px;
  height: 150px;
}

.card__text--hidden {
  padding: 5px;
  background-color: var(--third-color);
  margin: auto;
  box-shadow: var(--shadow);
}

.card__button {
  margin: auto;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.card__button:hover {
  background-color: var(--primary-color);
  color: white;
}
.category {
  display: flex;
  list-style: none;
}

.category__tag {
  border: var(--border);
  border-radius: 10%;
  padding: 3px;
  background-color: var(--third-color);
}

.category__tag--second {
  margin-left: 10px;
  margin-right: 10px;
}

.category__tag--highlight {
  background-color: var(--primary-color);
  color: white;
}
