.navbar {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  justify-content: space-around;
  display: flex;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border: var(--border);
  padding: 5px;
}

.navbar__image {
  width: 38px;
}

.navbar__image:hover {
  background-color: var(--primary-color);
}
