.header-navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 13px black;
  padding: 10px;
  font-size: 20px;
  z-index: 10;
}
