.question-card {
  display: flex;
  position: relative;
  height: 700px;
  flex-direction: column;
  margin: 150px 70px 70px 70px;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 2px 13px black;
  font-size: 20px;
  border-radius: 10px;
}

.bookmark-icon {
  position: absolute;
  top: -25px;
  right: 10px;
  width: 70px;
}

p {
  font-size: 30px;
  padding: 40px;
  height: 300px;
}

.hidden-answer {
  font-size: 25px;
  padding: 10px;
  height: auto;
  text-align: center;
  background-color: lightsteelblue;
}

.answer-button {
  margin: auto;
  padding: 10px;
  font-size: 15px;
  background-color: var(--secondary-color);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}

.answer-button:hover {
  background-color: darkslateblue;
  color: white;
}
.tag-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}

.category-tag {
  border: 1px solid black;
  border-radius: 20%;
  padding: 5px;
  background-color: var(--third-color);
  font-size: 17px;
}

.second-tag {
  margin-left: 10px;
  margin-right: 10px;
}

.highlight {
  background-color: var(--primary-color);
}
