.profile {
  display: flex;
  flex-direction: row;
  margin: 100px 45px 70px 45px;
  min-width: 100px;
  max-width: 600px;
}

.profile__image {
  width: auto;
  height: 150px;
  border-radius: 100%;
  border: var(--border);
  box-shadow: var(--shadow);
}

.profile__name {
  font-size: 20px;
  padding: 30px;
  height: 150px;
  color: white;
  text-decoration: overline;
}

.aboutme {
  display: flex;
  flex-direction: column;
  margin: -25px 45px 70px 45px;
  padding: 10px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  min-width: 200px;
  max-width: 600px;
}

.aboutme__title {
  padding: 10px 0px 0px 10px;
}

.aboutme__text {
  padding: 10px;
  text-align: justify;
}

.counter {
  display: flex;
  margin: -25px 45px 70px 45px;
  padding: 20px;
  background-color: var(--shadow);
  box-shadow: var(--shadow);
  border-radius: 10px;
  min-width: 200px;
  max-width: 600px;
}

.settings {
  display: flex;
  flex-direction: column;
  margin: -25px 45px 70px 45px;
  padding: 20px;
  height: 150px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 10px;
  min-width: 200px;
  max-width: 600px;
}

.settings__headline {
  padding: 10px 0px 0px 10px;
}

.settings__switch {
  padding: 10px;
}
